.outline{
    height: auto;
    position: relative;
}
.roule_bk{
    width: 100%;
    position: absolute;
}
.roule_bk>img{
    width: 100%;
    object-fit: cover;
}
.board{
    /*340:230px / 420:280px / 500:330px / 560:370px*/
    position: absolute;
    bottom: 7.5%;
    width: 80%;
    left: 50%;
    margin-left: -40%;
}
.board>img{
    width: 100%;
    object-fit: cover;
}
.btn{
    position: absolute;
    width: 35%;
    height: 35%;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
    z-index: 4;
}
.pin{
    position: absolute;
    width: 10%;
    height: 10%;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 4;
}
.gameboard{
    transition: all 5s ease;
    /* transform: rotate(355deg); */
}
.msg{
    width: 60%;
    height: 60px;
    background-color: hotpink;
    color: white;
    position: absolute;
    z-index: 10;
    border-radius: 10px;
    font-size: 12px;
    text-align: center;
    line-height: 60px;
    left: 0;
    right: 0;
    margin: auto;
    top: 200px;
    display: none;
}